<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
    <!-- mybatis拦截器 -->
        <plugin interceptor="com.guoquan.store.operation.log.interceptor.OpeMyInterceptor">
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>